<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.menupan.translate.apps">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/menupan"
        android:label="@string/app_name"
        android:theme="@style/Theme.MaterialComponents.Bridge">
        <meta-data
            android:name="com.google.firebase.ml.vision.DEPENDENCIES"
            android:value="barcode,face,ocr,ica,label" />
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/admob_app_id"/>

        <activity android:name="com.menupan.translate.apps.java.ChooserActivity"
            android:exported="true"
            android:label="@string/app_name">
                        <intent-filter>
                            <action android:name="android.intent.action.MAIN" />
                            <category android:name="android.intent.category.LAUNCHER" />
                        </intent-filter>
        </activity>

        <activity
            android:name="com.menupan.translate.apps.EntryChoiceActivity"
            android:exported="true"
            android:label="@string/app_name">
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->
<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
        </activity>

        <activity android:name="com.menupan.translate.apps.java.LivePreviewActivity" android:exported="true"/>

        <activity android:name="com.menupan.translate.apps.java.StillImageActivity" android:exported="true" android:label="@string/app_name">
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->
<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
        </activity>

<!--        <activity android:name="com.menupan.translate.apps.common.preference.SettingsActivity" android:exported="false"/>-->
    </application>

</manifest>
